body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 5px;
}

.container {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.display {
  font-weight: bold;
  margin-bottom: 5px;
  width: 80vw;
}

button {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(240, 100%, 87%);
  transition: 0.3s;
}

button:hover {
  background-color: hsl(240, 100%, 60%);
  color: white;
}
